#sandbox{
	width: 19%;
	background: #D8D8D8;
	padding-bottom: 5px;
}

#name{
	text-align: center;
}

#result{
	width: 100%;
	padding-bottom: 20px;
	
}
#sandbox .btn-toolbar{
	margin-top: 10px;
}
#sandbox .btn-toolbar .right{;
	float: right;
	margin-right: 5%;
}
#MR{
	width: 50px;
}
#mem{
	width: 50px;
}
#del{
	background: #FE2E2E;
}
#C{
	background: #FE2E2E;
}
#sandbox .btn-toolbar .left{
	margin-left: 5%;
}
button{
	width: 35px;
	height: 35px;

}
	